section {
   display: block;
   background: linear-gradient(0deg, black 0%, #5a5c6c 100%);
}

section img {
   width: 800px;
   max-width: 80%;
}

.master-conteiner {
   padding-top: 70px;
}

footer {
   padding-top: 0%;
}


.cont-smm p {
   font-size: 50px;

}

@media (max-width:1400px) {
   .cont-smm p {
      font-size: 45px;

   } 
    #footer-one {
      padding: 0px;

      padding-top: 0px;
      padding-bottom: 10px;
      margin: 0px;
      width: 100%;

   }

   section {
      margin-bottom: 0px;
      padding-bottom: 0px;
   }

   footer {

      margin: 0px;
      padding: 0px;
      display: block;
      text-align: center;

   }

   .footer-btn {
      margin: 0px;
      padding: 0px;
      width: 100%;
   }
}

@media (max-width:1100px) {
   .cont-smm p {
      font-size: 40px;

   }

 
}